[2014-01-23 01:04] jelinson opened #2 "Jasmine 2.0"
The Jasmine 2.0 syntax for custom matchers is different. Do you plan on updating these?

http://jasmine.github.io/2.0/custom_matcher.html

[2014-02-07 17:33] endorama opened #3 "Availability through bower"
There are plan to make this library available via bower?

I understand you can install it via npm, but this is not a reliable solution for me ( usin nvm node_modules are in my home folder ).

[2014-02-13 00:33] rkawala opened #4 "Not obvious how to use Jasmine-Matchers with Karma"
I do the "npm install" per your README, and then I have to add a line to the "files" array in my karma.conf.js:

[code]

If I don't add that line, I can't use your matchers in my tests. Am I doing this correctly, or is there some other way I ought to be doing it? Thanks!

[2014-03-05 12:17] mohit-excelindia opened #5 "Reason field should be present if expect fails"
Hi All,

Jasmine expect matchers covers vast asserting statement but one feature that will really make it great is adding a Reason field if any of the test has Failed.
I search a lot for this and many people also thinks the same way.
Please add this feature.

Thanks
Mohit Gupta

[2014-03-12 14:23] JamieMason opened #6 "Improve toBeHtmlString()"
[code]

[2014-04-25 07:32] #5 closed, assigned to nobody

[2014-04-25 08:03] JamieMason opened #7 "Create Sublime Text Snippets Package"
Along the lines of https://github.com/caiogondim/jasmine-sublime-snippets.

[2014-04-25 08:38] JamieMason opened #8 "expect(object).toHave*"
Re-use matchers available for regular values to inspect objects.

[code]

The aim is to improve the readability of error messages, changing today's approach;

[code]

To the following;

[code]

[2014-04-25 08:41] JamieMason opened #9 "expect(object).toBe[Non]EmptyObject();"
1. Assert value is an Object with no instance members.
1. Assert value is an Object with at least one instance member.

[2014-05-02 07:49] JamieMason opened #10 "Generate Docset for Dash"
[Generating Dash Docsets](http://kapeli.com/docsets).

[2014-05-21 14:23] JamieMason opened #12 "Update documentation for use with Node."
Using `require('jasmine-expect');` in multiple places to insert a beforeEach in your describe block will not work as the require is only run once.

[2014-06-20 16:53] JamieMason opened #14 "expect(object).toBePromise();"
http://wiki.commonjs.org/wiki/Promises

[2014-06-23 09:01] JamieMason opened #15 "expect(object).toExtend(Constructor);"
A developer would be forgiven for expecting `expect([]).toBeObject()` to return `false` since Arrays are different to Objects in significant ways.

The case however with Jasmine-Matchers, `_.isObject([])` (lodash/underscore), `angular.isObject([])`, and others is a return value of `true` — because Array extends Object.

Implement `expect(object).toExtend(Constructor);` and consider changing `expec

[2014-07-16 09:01] Hemins opened #16 "expect not stop execution when fail."
In testNg, There is assert and verify methods are available.
Assert(hard assert) -: assert stop execution when assertion fail.
Verify(soft assert) -: verify continue execution even though fail verification method.

so we can use assert and verify according our requirement so is there any functionality available in jasmine?

[2014-07-22 16:18] #4 closed, assigned to nobody

[2014-07-23 09:34] #16 closed, assigned to nobody

[2014-07-25 08:15] #2 closed, assigned to nobody

[2014-08-04 16:32] #15 closed, assigned to nobody

[2014-08-04 16:40] #3 closed, assigned to nobody

[2014-08-27 20:07] #6 closed, assigned to nobody

[2014-09-04 15:42] atruskie opened #18 "Jasmine 2.0 toThrowError"
Hi,

It seems Jasmine 2.0 has a toThrowError which (no offence) seems to be better (it can check both exception type and message). A few questions:
- It seems that jasmine-expects's toThrowError overrides jasmine's; is that intentional?
- Is there anyway I can invoke jasmine's version of the function, am I missing something obvious?

Thanks

[2014-09-04 16:33] #18 closed, assigned to nobody

[2014-12-02 16:50] tandrewnichols opened #21 "instanceof checks may not be sufficient in node"
This is sort of an edge case, so I'd  understand if you didn't want to bother with it. I just added this package to our jasmine suite, and `.toBeFunction()` is reporting "Expected Function to be function." The reason is that we are using [sandboxed-module](https://github.com/felixge/node-sandboxed-module), which loads the subject under test using the `vm` module (in a separate context). `instanceo

[2014-12-12 09:27] jhuesos opened #22 "Suggestion: change repository structure so master is always the latest released version"
I would suggest something about how the repository is structured at this point and why I think it is better to do it in that way.

At this point, whenever people go the repo to check documentation, they can see the documentation of master, which is the next version that is going to be released at some point. But the problem is there will be breaking changes in the next version because there are ne

[2014-12-19 17:32] jasonjohnson115 opened #23 "Update readme in latest tagged release."
This library is very useful! Thanks for all of the hard work that you put into this. I found it unfortunate that the list of available functions didn't match up with what is actually in 1.22.2. Also, is 1.20.0 still the latest stable version as stated in the readme on master?

[2014-12-31 17:02] #23 closed, assigned to nobody

[2014-12-31 17:03] #22 closed, assigned to nobody

[2014-12-31 17:06] #7 closed, assigned to nobody

[2015-01-04 12:36] JamieMason commented on #21
I think just `return typeof this.actual === 'function';` should be enough to cover this, do you agree or is more needed @tandrewnichols?

[2015-01-05 15:33] tandrewnichols commented on #21
Yeah, I imagine that would be enough.

[2015-01-15 17:41] mpiasta-ca commented on #9
Is this going to be added sometime?

[2015-01-15 17:52] JamieMason commented on #9
Hi @mpiasta-ca, it's in [develop](https://github.com/JamieMason/Jasmine-Matchers/tree/develop) at the moment.

[2015-01-16 07:33] xuxiankun opened #24 "suggest use Array.isArray(variable) instead of instanceof Array"
there are some situation it's an Array but instanceof Array return false.

[2015-01-20 07:42] JamieMason opened #25 "expect(value).toBeRegExp();"

[2015-01-20 20:48] cryptoquick opened #26 "expect(collection).toContainValues(array);"
I'm looking for something like this:

[code]

I've found this pattern useful, when working over collections or objects that I know might come in a different order than what I might specify in the test. If the order is unimportant, the fact that I just have these items and only these items might be a good utility method to have on this library.

You'd implement it with the Lodash `_.xor` method, an

[2015-01-21 09:11] JamieMason commented on #26
Thanks a lot for this @cryptoquick, does this deliver what you're describing?

[code]

[2015-01-21 13:42] cryptoquick commented on #26
Yeah, that'd be pretty good!

[2015-01-27 20:30] JamieMason opened #28 "Exclude development files from packages."
Using `.npmignore` and the `ignore` member of `bower.json`.

[2015-02-19 15:38] pavelmigolinets opened #29 "isJasmineV1 always return true when using with protractor"
Hi this boolean always return "true" when using with protractor, even when framework set as jasmine2 in protractor.conf.js. As result it always setting matchers as for version 1.x because if (isJasmineV1) always true.

[2015-02-19 16:30] JamieMason commented on #29
Forgive me, is this not a bug with protractor? Is it augmenting Jasmine in some way? Or are there some other details also? Thanks a lot.

[2015-02-19 17:00] pavelmigolinets commented on #29
not sure...they have some interactions with jasmine. But they didn't provide more options than jasmine does. I know only when you set framework as jasmine - isJasmineV1 = true, isJasmineV2 = false.But when you set framework jasmine2, both variables are true. I think you can fix this issue easily in a 5 minutes. as possible solution in jasmine-matchers.js :
 var isJasmineV2 = typeof jasmine.addMatc

[2015-02-19 17:02] JamieMason commented on #29
Sounds good, thanks @pavelmigolinets.

[2015-02-23 20:55] #12 closed

[2015-02-23 20:55] #21 closed

[2015-02-23 20:55] #28 closed

[2015-02-23 20:55] #29 closed

[2015-02-23 20:57] JamieMason commented on #24
instanceof removed in [2.0.0-beta1](https://github.com/JamieMason/Jasmine-Matchers/releases/tag/2.0.0-beta1).

[2015-02-23 20:57] #24 closed

[2015-02-23 20:58] JamieMason commented on #9
Released in [2.0.0-beta1](https://github.com/JamieMason/Jasmine-Matchers/releases/tag/2.0.0-beta1).

[2015-02-23 20:58] #9 closed

[2015-02-23 20:59] JamieMason commented on #8
Released in [2.0.0-beta1](https://github.com/JamieMason/Jasmine-Matchers/releases/tag/2.0.0-beta1).

[2015-02-23 20:59] #8 closed

[2015-02-23 21:03] JamieMason commented on #10
Anyone wanting the Dash docset ahead of release can access it by cloning and npm installing this project, then running;

    jsdoc --recurse --destination Jasmine-Matchers.docset/Contents/Resources/Documents --template node_modules/jsdoc-dash-template src

Jasmine-Matchers.docset can then be imported into Dash.

[2015-02-24 08:20] JamieMason opened #30 "Add example project setups."
Close and move https://github.com/JamieMason/karma-jasmine-matchers-example into an examples folder in this repo.

[2015-04-28 08:37] vollyimnetz commented on #22
Hi, the file in the "dist" folder is still on version "1.22.3" (i think).

I have problems when get the files via bower.
* Bower still uses the 1.22.3 version, which is fine as long as it is in beta.
* However, if i try to get the files of the git-master via bower, i get the outdated "dist/jasmine-matchers.js".

Or is that intended?

[2015-05-20 09:17] MathRobin opened #34 "expect(something).toBeNaN();"
Hi !

Could be a great feature. Use global isNaN plus polyfills if Number.isNaN is not available (harmony feature)

[2015-05-20 09:20] MathRobin commented on #34
Mozilla suggests this polyfill :

`
Number.isNaN = Number.isNaN || function(value) {
    return typeof value === "number" && value !== value;
}
`

https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Number/isNaN

[2015-05-20 11:21] JamieMason commented on #34
Hey, always open to ideas. Do you have an example test you can show me that you'd hope to refactor with this new matcher? Thanks man.

[2015-05-20 12:30] MathRobin commented on #34
Yes of course

`expect(condNode.configure({
     condition : NaN
})).not.toBeDefined();
if(Number.isNaN(condNode.condition)) {
expect(true).toBeTruthy();
} else {
expect(false).toBeTruthy();
}`

can become

`expect(condNode.configure({
     condition : NaN
})).not.toBeDefined();
expect(condNode.condition).toBeNaN();`

[2015-05-20 12:43] MathRobin commented on #34
I'm coding a PR

[2015-05-26 08:15] JamieMason commented on #34
Thanks again for this @MathRobin.

For the moment, unfortunately I don't think this kind of thing is encountered often enough by enough developers to warrant adding to the library. I also worry about confusion being introduced about which of the following to choose;

[code]

I appreciate your interest and effort but on current information I can't add this, sorry.

[2015-05-26 08:15] #34 closed

[2015-06-22 15:23] michael42 opened #36 "require('jasmine-expect') API can only register watchers once"
We're trying to use jasmine-expect to test a node.js application using gulp-jasmine. The current `require('jasmine-expect')` API isn't sufficient for that use case, since it only registers the matchers once. When the watcher runs the tests a second time, the require() result is already cached and the matchers aren't registered.

A function that registers the matchers when called would solve this i

[2015-06-29 08:44] JamieMason commented on #36
Thanks for this @michael42.

Integration with Node is currently the most awkward aspect of this project. I agree that some kind of method is needed such as `require('jasmine-expect').register()` (or similar) to get around this problem.

[2015-06-29 08:55] JamieMason opened #37 "expect(object).toHaveUndefined('memberName');"
Use case is in ui-router state params for example, where you might want to assert that a state of a given name exists as part of the state's configuration, but that no default value has been assigned to it.

Current spec

[code]

Current output

[code]

Preferred spec

[code]

Preferred output

[code]

[2015-08-03 14:37] alecxe opened #38 "Expect an array to be sorted"
Recently, I've encountered the need to expect an array to be sorted alphabetically. Would it be a good idea to have a custom jasmine matcher for this particular situation?

[code]

Thanks!

[2015-08-07 06:51] JamieMason commented on #38
Hey @alecxe,
Thanks for suggesting this. Please could you go into more detail? There are some things that spring to mind around sorting which would need to be accounted for.

+ A-Z or Z-A?
+ caSe iNsenStiVe?
+ An Array of primitives? Or of Objects?
+ If I pass an Object to `expect`, do I expect the keys or values to be sorted?
+ If an Array of Objects, which key should be sorted?

Personally I've

[2015-08-07 14:06] alecxe commented on #38
These are very good and valid points and thank you for the feedback.

Yeah, in the current `toBeSorted()` state, it is not quite transparent how the check would be performed. Here is how we are currently using our own `toBeSorted()` internally:

[code]

I currently use it in conjunction with `toBeNonEmptyArray()`:

[code]

Basically, it assumes the argument passed into `expect()` has `slice()` and

[2015-09-13 22:29] #10 closed

[2015-09-29 08:51] JamieMason opened #39 "expect('123').toBeNumericString();"
[code]

[2015-09-30 16:50] JessicaSachs opened #40 "expect(foo).toHaveMethod('bar'); should output what method name was missing."
I'd like to be able to read what method name is missing from an object when an assertion fails. Thoughts?

[code]

[2015-09-30 16:52] JamieMason commented on #40
Thanks Jessica, I think this is a regression in the latest version. I'll pick it up as soon as I can.

[2015-09-30 16:53] JessicaSachs commented on #40
Thanks for the quick response. I'll think I'll give it a shot and submit a PR :)

[2015-09-30 16:57] JamieMason commented on #40
You're welcome.

BTW if you do, bonus points for adding tests for failure message output. This issue has shown me that those are a blind spot at the moment.

Much appreciated, cheers.

[2015-09-30 17:47] JessicaSachs commented on #40
OK, i have a loose handle on the framework. :)

I think you'll have a quicker time getting through this than I will -- but I'd love to code review && maybe talk about adding tests for `memberMatcherFactory`, or however you decide to handle the integration between jasmine's `util.buildFailureMessage` and the matcher factory.

Findings:
This issue affects everything that asserts via `lib/factory/jas

[2015-09-30 17:48] JessicaSachs commented on #40
(also I didn't test this in jasmine V1)

[2015-09-30 18:27] JamieMason commented on #40
Hey,
Some background info I can give you is that this used to be handled by [these private utils](https://github.com/JamieMason/Jasmine-Matchers/blob/db02b30000c717c588c2e029724dd356fd7bc203/src/wrapper/private.js#L107-L155) but during the [recent refactor](https://github.com/JamieMason/Jasmine-Matchers/commit/e02982ea40d85761f9d0a9eae8358512a6fad133) I think there have been some regressions. If y

[2015-09-30 18:31] JamieMason commented on #40
As far as testing the failure output etc I'm not sure just yet as it's not something I've done before. I'll look around and see what I can find.

[2015-10-01 21:30] message opened #41 "Move matchers to separate file?"
Jest is based on Jasmine, i want to extend Jest with your matchers, but `index.js` fires `lib/factory`. Can you please move matchers to separate `matchers.js` file, so i can access matchers collection without firing `factory`?

[2015-10-01 21:38] JamieMason commented on #41
Hi Dmitry, I'd be happy to do this but could you add a little more detail on what is happening? I get the general idea but am missing something I think.

[2015-10-01 21:53] message commented on #41
I rushed a little bit, sorry. `require("jasmine-expect");` works fine Jest without any modifications

[2015-10-01 21:53] #41 closed

[2015-10-01 21:55] JamieMason commented on #41
No problem at all. Actually I planned to try Jest soon, is that require literally all that's needed to use these matchers? I'd have thought there'd be something more needed to port them over, but that's great if not.

[2015-10-01 22:01] message commented on #41
**test.js**
[code]
**jestSetup.js**
[code]

[2015-10-01 22:04] JamieMason commented on #41
Cool, thanks a lot for the info.

[2015-10-08 16:33] mrozbarry opened #42 ".toImplement does not properly check type"
The example for .toImplement() uses a hash where the key must exist, and implies that the value is the type the actual value should be.  This method does not seem to test for individual types off the actual object, and fails when we build a mock object that is exactly what the test expects, ie:

This will pass:

[code]

but so will this:

[code]

Even though `baz` is a string but is expected to be

[2015-10-08 18:34] JamieMason commented on #42
Yes absolutely, I need to finish this so it uses the types.

Thanks a lot.

[2015-11-13 10:49] jrencz commented on #14
@JamieMason one can use https://github.com/bvaughn/jasmine-es6-promise-matchers for vanilla js or https://github.com/bvaughn/jasmine-promise-matchers for Angular.

[2015-11-13 10:52] jrencz opened #43 "expect(object).toBeSet() & expect(object).toBeSetOf(String)"
String is an example. It should be able to iterate over the `Set` and check if all its elements match the given type.

[2015-11-13 10:53] JamieMason commented on #14
Thanks @jrencz yeah I agree, I think I'll close this.

[2015-11-13 10:53] #14 closed

[2015-11-13 10:54] JamieMason commented on #43
Thanks @jrencz, would you mind writing some example tests in here? What some key specs would look like using Jasmine-Matchers with this implemented.

[2015-11-13 10:54] jrencz commented on #43
`.toBeEmptySet` would be useful as well

[2015-11-13 11:12] jrencz commented on #43
@JamieMason do you have any way to handle host objects that are not present everywhere already defined in the project?

It's easy to write a polyfill but I need to include Symbol polyfill to implement `Symbol.toStringTag` properly.

[2015-11-13 11:21] JamieMason commented on #43
I've not used `Symbol` before @jrencz, can you explain this some more?

[2015-11-13 11:30] jrencz commented on #43
@JamieMason `Symbol` is a way to define most of those "magical" JS features present before ES2015. One of those is the host objects ability to define how Object#toString works when an object is passed to it. `Set` has `Set[Symbol.toStringTag]` similar to `function () { return '[Object Set]'; }`

For now I just opted out of testing in browsers without Set implemented, but I'd like you to hint me wh

[2015-11-13 11:36] jrencz commented on #43
and `Symbol.iterator` would be useful to be able to implement `toBeSetOf`. But then I'm going to need `forOf` loop anyway (in the most simple approach)

[2015-11-13 12:44] jrencz opened #45 "expect(object).toBeSymbol() & toBeWellKnownSymbol() & toBeCustomSymbol() & toBeSymbolFor(string)"
It's related to #43 - Symbols may be matched as well

`toBeWellKnownSymbol` should pass [well-known Symbols](https://developer.mozilla.org/pl/docs/Web/JavaScript/Reference/Global_Objects/Symbol#Well-known_symbols) and `toBeCustomSymbol` (any hint on a better name?) should fail then a well-known symbol is passed.
Well-known symbols exist as properties on `Symbol` host object.

[2015-11-13 14:04] JamieMason commented on #45
Thanks @jrencz, I'd need a lot of input from you on this as I've not used Symbols.

[2015-11-17 05:37] anisylen opened #47 "Documentation should show what matchers are in beta"
Currently, running the recommended npm or bower installation methods installs v1.22.3. This does not seem to have a lot of the methods as shown in the documentation.

If possible please specify what features are there in beta until a full release of 2.0 or explicitly add the version within the installation instructions.

[2015-11-18 10:23] JamieMason commented on #47
Hey @anisylen, thanks for raising this.

Please see here the [README for Jasmine-Matchers 1.22.3](https://github.com/JamieMason/Jasmine-Matchers/tree/d441ec64e3a4cec39d5b7d86981cbca94cb33dce).

[2015-11-18 10:23] #47 closed

[2015-11-18 10:30] anisylen commented on #47
I just installed the beta version since that has a lot of the matchers that I need. Thanks!

[2015-11-18 10:30] JamieMason commented on #47
Great, thanks @anisylen

[2016-01-10 20:41] PaulTondeur opened #49 "Add .toBeValidDate()"
I would expect that this test would fail for invalid dates:
`expect(new Date("invalid")).toBeDate()`

Or that there would be a test like:
`expect(new Date("invalid")).toBeValidDate()`

Workaround could be:
`expect(new Date("invalid")).toBeAfter(new Date(0));`

[2016-01-25 14:17] RALifeCoach opened #50 "StealJS"
I am having problems getting this to work with StealJS.

[2016-01-25 15:34] #50 closed

[2016-01-31 18:01] #42 closed

[2016-01-31 18:04] JamieMason commented on #40
Released in 2.0.0-beta3.

[2016-01-31 18:04] #40 closed

[2016-02-01 09:05] mull opened #51 "2.0.0-beta3: Cannot find module './src/jasmine-matchers'"
Hi folks. Just noticed this error after installing beta3. Was not present in beta2. Hope it helps! Let me know if I can provide additional assistance. :-)

[code]

[2016-02-01 09:18] JamieMason commented on #51
Apologies, [this](https://github.com/JamieMason/Jasmine-Matchers/blob/818a48da73d21ce40effab9d23b385c8e719d20a/.npmignore#L3) was missing. I've fixed this and released 2.0.0-beta4.

[2016-02-01 09:18] #51 closed

[2016-02-02 12:31] Szpadel commented on #51
Hello @JamieMason

I have beta4 installed and the issue is still present.
Could you double check this?

[2016-02-02 12:43] mull commented on #51
I also saw this failing for beta4

[2016-02-02 12:46] JamieMason commented on #51
You're right @Szpadel @mull. Addressing it now, sorry about this.

[2016-02-02 12:47] mull commented on #51
No worries. I can test this within the next ~3 hrs (or tomorrow), let me know when you release and I'll see if it works :)

[2016-02-02 12:49] JamieMason commented on #51
Just published `jasmine-expect@2.0.0-beta5`

\*shakes head\* normally I'm more thorough, but I rushed this.

[2016-02-02 12:58] JamieMason commented on #51
karma-jasmine-matchers updated to 2.0.0-beta5 as well.

[2016-02-02 13:23] Szpadel commented on #51
With beta5 it's working fine, thanks.

[2016-02-02 13:32] mull commented on #51
Works. Though I ran into a small problem, for some reason, that Jest started auto-mocking the module all of a sudden. It didn't before. Anyhow, I just added it to the list of unmocked packages and all is fine. Thanks for the work @JamieMason!

[2016-02-02 13:38] JamieMason commented on #51
Phew, great.

@mull would you mind showing how Jasmine-Matchers can be used with Jest? Someone mentioned before that they're compatible, but I've never seen for myself how it works.

Thanks.

[2016-02-02 13:50] mull commented on #51
@JamieMason sure.

[code]

[code]

Not any harder than that. AFAIK we're doing nothing special :-) We're moving away from Jest though, absolutely hate it!

[2016-02-02 14:17] JamieMason commented on #51
Thanks a lot @mull that's useful (may add it to the README). We looked at Jest at work for a while but decided against it in the end. The idea of automatic mocking though did sound like it could be quite nice.

[2016-02-02 14:17] JamieMason opened #52 "Add Jest integration to README."
From @mull https://github.com/JamieMason/Jasmine-Matchers/issues/51#issuecomment-178582056

[2016-02-02 14:18] mull commented on #51
No problem! It is kind of nice sometimes. Jest is buggy though, and some of the options in the docs don't quite work. Especially combined with other options (one is somehow overriding the other.) It's been a messy journey so far.

[2016-02-02 14:42] JamieMason commented on #51
Good to know, I think I'll steer clear.

[2016-02-03 11:58] JamieMason commented on #36
/cc to users who've opened issues on this project before, a question for you. How do you tend to include Jasmine Matchers on a Node.js project? I'm trying to think of what might be the best way to do it — and I'm pretty sure it will require an API change.

Thanks.

@Hemins @JessicaSachs @MathRobin @PaulTondeur @RALifeCoach @alecxe @anisylen @atruskie @cryptoquick @endorama @jasonjohnson115 @jelins

[2016-02-03 12:29] mull commented on #36
We're only including it once in our of our jest specs by simply importing it. Sorry I can't be of more help :/

[2016-02-03 13:16] anisylen commented on #36
Same as @mull. Include it once within our Jasmine specs and let it rip.

[2016-02-03 13:27] JamieMason commented on #36
Thanks @mull @anisylen. I had thought that just including `require('jasmine-expect')` at the very start of your spec was all that was needed to include this in node, but I could see how it could be possible that the behaviour @michael42 describes could happen.

Could it be that this has been fixed since it was opened? @michael42 can you confirm?

Thanks.

[2016-02-03 13:50] PaulTondeur commented on #36
I can confirm the include as @mull and @anisylen are describing.

[2016-02-03 15:43] mrozbarry commented on #36
We are including it in a helper file, and our setup looks like this:

spec/support/jasmine.json:

[code]

spec/helpers/extra.js:

[code]

[2016-02-03 17:22] JamieMason commented on #36
Thanks all, ok I _think_ this is working then and can be closed.

[2016-02-03 17:22] #36 closed

[2016-02-09 06:41] atruskie opened #53 "Deprecate .toImplement"
Hi,

Not sure if these are intended features of `.toImplement` or not but I find the following behaviours (introduced in #42 / 866e832 ) to be counterintuitive:

## Testing if an object implements a field that is `null`/`undefined`

[code]

Produces:
[code]

### Expected result
The test case to pass . Even if not intended to pass, the exception breaks the test reporter. The matcher should return `

[2016-02-09 09:55] JamieMason commented on #53
Thanks @atruskie — completely agree, these are all valid points.

[2016-02-09 09:58] JamieMason commented on #45
Thanks again for raising this @jrencz but I've decided not to add matchers for `Set` etc. A new project such as jasmine-set-matchers could be useful to people though if you decide to take it on.

[2016-02-09 09:58] #45 closed

[2016-02-09 09:58] JamieMason commented on #43
Thanks again for raising this @jrencz but I've decided not to add matchers for `Set` etc. A new project such as jasmine-set-matchers could be useful to people though if you decide to take it on.

[2016-02-09 09:58] #43 closed

[2016-02-09 10:03] JamieMason commented on #49
Thanks for this @PaulTondeur, I'm not sure yet how to approach this so will think it over for a while.

[2016-02-09 10:56] jrencz commented on #43
ok

[2016-02-13 17:08] PaulTondeur commented on #37
I would like to up-vote this request.

[2016-02-24 22:33] #52 closed

[2016-04-18 20:21] dkniffin commented on #26
Not sure if this should go here, or be it's own issue, but I'd also like to be able to test the order of arrays. So, for example:

[code]

[2016-06-29 06:47] JamieMason opened #54 "expect(array).toBeArrayOfObjectsContaining(descriptor);"
##### Example

[code]
##### Implementation

Internally we would assert `this.colleagues` is an `Array`, then assert that every member passes;

[code]

[2016-06-29 06:51] JamieMason opened #55 "expect(object).toBeObjectContaining(descriptor)"
##### Example

[code]
##### Implementation

This would be sugar for

[code]

[2016-06-29 07:09] JamieMason commented on #53
`toImplement` will be deprecated and replaced with #55.

[2016-06-29 07:48] JamieMason opened #56 "Asymmetric matchers"
#### Example usage

[code]

[code]

-----

##### Jasmine Default Matchers

[code]

##### Arrays

[code]

##### Dates

[code]

##### Numbers

[code]

##### Objects

[code]

##### Strings

[code]

##### References

* http://jasmine.github.io/2.2/introduction.html#section-Custom_asymmetric_equality_tester
* https://github.com/jasmine/jasmine/tree/master/src/core/asymmetric_equality

[2016-06-29 12:18] atruskie commented on #53
Thanks for the heads up - new API looks good.

[2016-08-10 08:07] michaeljota commented on #36
Hi! You should post this on the readme.md. This is like a how-to-use with gulp-jasmine.

Thanks! :+1:

[2016-08-23 16:25] JamieMason commented on #56
Released in [3.0.1](https://github.com/JamieMason/Jasmine-Matchers/releases/tag/3.0.1).

[2016-08-23 16:25] #56 closed

[2016-08-23 16:25] JamieMason commented on #53
Deprecated in [3.0.1](https://github.com/JamieMason/Jasmine-Matchers/releases/tag/3.0.1).

[2016-08-23 16:25] #53 closed

[2016-08-23 16:28] JamieMason commented on #26
Hey @cryptoquick,
I fairly recently learned about [asymmetric matchers in Jasmine](https://github.com/JamieMason/Jasmine-Matchers#jasmines-default-asymmetric-matchers) – you should be able to achieve this using either `jasmine.arrayContaining(mixed);` or `jasmine.objectContaining(mixed);` 👍

[2016-08-23 16:28] #26 closed

[2016-08-29 15:13] Nolanus opened #58 "expect(floatNumber).toBeNear(number, epsilon)"
Compare a given value numerically to be in the range of `number-epsilon` and `number+epsilon`. Thus `epsilon` specifies the maximum tolerance the compared value is allowed to vary.

Example

[code]

Implementation

Could internally use  the "toBeWithinRange" matcher, but the above is much nicer to write if you're not targeting a specific range, but just a value and allow some wobbling.

[2016-08-29 18:05] JamieMason commented on #58
Thank you for this, at what times would you use either this or Jasmine's toBeCloseTo please?

[2016-08-30 13:38] MiguelAngel82 opened #59 "Adding this library to an Angular 2 project using Jasmine"
Hi all!

I think this is not an issue but can be an improvement in the doc.

I'm developing an Angular 2 RC5 app with Jasmine and I'm trying to load this library.

What I've done is:

In a `unit-tests.html` file I've included the following:
[code]

And then, I've created a Spec file, like this:

[code]

But when I run the app, with `npm test` this error occurs:
[code]

So I don't know how to impor

[2016-08-31 08:16] #59 closed

[2016-08-31 08:22] JamieMason commented on #59
What was the resolution please? Out of interest.

Thanks.

[2016-08-31 13:20] MiguelAngel82 commented on #59
I've added the resolution in the EDIT section of my previous comment:

Is needed to add this resolution in any other section? I think, this is the unique thing to do, for me it works, but I'm not an Angular expert. So maybe something more is needed or another way to do.

[2016-09-01 17:11] hkong opened #60 "Protractor configuration?"
Sorry for the n00b question, I'm fairly new to Protractor and Jasmine.  I'm using Protractor to do e2e testing and would like to use these matchers.  However, I'm not able to get protractor to recognize these matchers.  I've followed directions for NodeJS in the README, used `npm` to install the module, and can see the module in my project's `node_modules` directoyr.  I've applied the path to `"he

[2016-09-01 18:24] JamieMason commented on #60
I've not used Protractor before @hkong but if I get some time I will try to look at how to set it up. If you figure this out before me please share so I can add to the docs. Thanks.

[2016-09-08 07:42] paulpreibisch commented on #60
Hey hKong and JamieMason,

I also am using Protractor for Angular.js e2e testing!  To get jasmineMatchers working, just add the following at the top of your mytest.spec.js

`require('./../../jasmine-matchers.js');
`
Note in the above, I place ./../../  that is because I have placed my jasmine-matchers.js file at the root of my tests folder:

[code]

Hope this helps

[2016-09-28 22:15] aaronbroad commented on #59
Also interested in current typings for this library. The ones Definitely Typed appear to be out of date. (Many libraries are including them in the NPM package now instead, which is better because it help ensure the version of the typings matches the library's API).

I'm using it in an Angular 2 project (using the current angular cli, which incorporates Karma for running tests). The matchers I've t

[2016-09-29 09:40] JamieMason commented on #59
I've yet to use TypeScript @aaronbroad but if someone were to pull request how to include the typings as part of this project I'd be happy to keep them up to date from there on.

I see the Definitely Typed ones are here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/jasmine-expect/jasmine-expect.d.ts.

[2016-09-29 20:21] aaronbroad commented on #59
Ah, the ones I found were more out of date (v0.2.1):
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types-2.0/jasmine-matchers/index.d.ts

I have not published types to npm before, but best I can tell it involves adding a `types` property to package.json that includes the path to the declaration file, something like:

`"types": "./jasmine-matchers.d.ts"`

The file you referenced looks clo

[2016-09-29 20:23] JamieMason commented on #59
Sounds good, thanks a lot.

[2016-10-04 15:18] Nolanus commented on #58
The second parameter of Jasmine's `toBeCloseTo` is non-linear. Especially when comparing integer values a lot of tweaking is required to get the expected "tolerance area":

[code]

[2016-11-01 12:39] arunprakashpj commented on #30
Is the issue still open ?

[2016-11-01 14:37] JamieMason commented on #30
yes @arunprakashpj, just not had time yet to work on it.

[2016-11-03 08:19] JamieMason commented on #58
Thanks @Nolanus, do I understand correctly that

[code]

is equivalent to

[code]

[2016-11-03 09:13] Nolanus commented on #58
Hi @JamieMason,
that's correct.

Just realized my initial example was wrong, just fixed that.

[2016-11-04 19:19] arunprakashpj commented on #30
Hi @JamieMason  , Shall i  move https://github.com/JamieMason/karma-jasmine-matchers-example into an examples folder in this repo ?

[2016-11-11 09:41] JamieMason commented on #49
I ran a [poll on Twitter](https://twitter.com/fold_left/status/794092987064131584) to try and help gauge Developers' expectations and it seems people are fairly split. Here's what I think is the best way to accommodate both sides of the argument and avoid breaking changes.

* Keep `toBeDate` working the same as it does now. This will avoid breaking changes and upsetting users that find the way it

[2016-11-11 09:49] JamieMason commented on #30
Hey @arunprakashpj.
Some of that will want to come over please, yes. What I was thinking of doing was something like;

[code]

Where each folder is a small working example project.

[2016-11-11 13:49] arunprakashpj commented on #30
Okay. I will do it .

[2017-01-12 20:05] jacobwarduk commented on #25
I have added this matcher in a forked repo and create a PR [here](https://github.com/JamieMason/Jasmine-Matchers/pull/64), if you would like to pull it into base.

[2017-01-14 18:14] JamieMason opened #66 "Add jasmine-check/testcheck-js"
Generative testing for JavaScript: [jasmine-check](https://github.com/leebyron/testcheck-js/tree/master/integrations/jasmine-check) is an integration of [testcheck-js](https://github.com/leebyron/testcheck-js).

[2017-01-14 18:58] #25 closed

[2017-01-14 21:53] JamieMason commented on #66
Getting nowhere, may have to wait for 1.0 to be released (https://github.com/leebyron/testcheck-js/issues/31).

[2017-01-15 08:06] jacobwarduk commented on #49
https://github.com/JamieMason/Jasmine-Matchers/pull/67 adds the `toBeValidDate` matcher.

[2017-01-15 09:13] jacobwarduk commented on #58
https://github.com/JamieMason/Jasmine-Matchers/pull/68 adds the `toBeNear()` matcher.

[2017-01-17 17:40] jacobwarduk commented on #37
PR at https://github.com/JamieMason/Jasmine-Matchers/pull/69

[2017-01-18 22:33] #49 closed

[2017-01-18 22:33] #58 closed

[2017-01-20 21:15] bvasilchik commented on #60
I was able to get it working by using

[code]

[2017-01-21 01:27] JamieMason commented on #60
Thanks 😎👍

[2017-01-22 16:44] PaulTondeur commented on #49
Thanks a lot for picking it up and I agree with your conclusions to solve it this way!

[2017-01-22 19:08] jacobwarduk commented on #39
What is the expected behaviour in the following cases?

1. `expect('1e100').toBeNumericString();`
2. `expect('1.0e+100').toBeNumericString();`
3. `expect('0x44c').toBeNumericString();`

[2017-01-22 19:44] JamieMason commented on #39
hmm, I guess those should be covered as well.

[2017-01-24 11:53] #55 closed

[2017-01-24 11:53] #54 closed

[2017-01-24 11:59] JamieMason commented on #38
Sorry about this @alecxe but I've decided not to include this. I think there are a lot of different edge cases that could come into play and so the feature could be quite high maintenance.

If you wanted to create this yourself though, please see [add-matchers](https://github.com/JamieMason/add-matchers) which aims to make it a little easier.

Thanks for contributing (and also for recommending thi

[2017-01-24 11:59] #38 closed

[2017-01-24 21:54] alecxe commented on #38
@JamieMason I like the issue status :).

Seriously, not a problem at all. I understand that there are more questions than answers about the matcher behavior and it's too broad of a matcher in general.

Thanks for the update!

[2017-01-30 04:35] reintroducing commented on #51
Is there any way to do this in a test-setup.js file that is executed with the [setupFiles](https://facebook.github.io/jest/docs/configuration.html#setupfiles-array) command from Jest? I'd like to just import this once and not have to worry about it in every single test file.

As of right now the only way I can get this working is to do this in each test file:

`import JasmineExpect from 'jasmine-e

[2017-01-30 10:21] JamieMason commented on #51
I'll push an example up soon but the config you need I @reintroducing  think is `setupTestFrameworkScriptFile`

[code]

[2017-01-30 10:28] JamieMason commented on #51
Example added: https://github.com/JamieMason/Jasmine-Matchers/commit/12e464c305f1f66706c929424023629d60245256.

[2017-01-30 15:23] reintroducing commented on #51
That worked perfectly @JamieMason, thank you and thanks for this module, it's been a huge help when writing Jasmine tests previously and now with using Jest as well.

[2017-01-30 15:49] JamieMason commented on #51
You're welcome, thanks.

[2017-01-30 18:30] jacobwarduk commented on #39
Feature added in PR https://github.com/JamieMason/Jasmine-Matchers/pull/70

[2017-01-30 19:37] JamieMason commented on #39
Sorry about this @jacobwarduk but similar to https://github.com/JamieMason/Jasmine-Matchers/issues/38#issuecomment-274784848, I've decided not to include this matcher (even though I created the issue in the first place).

Knowing more about it now, I worry there could be too many edge cases and because people depend on this library for their tests, I want it to be totally dependable so people can

[2017-01-30 19:37] #39 closed

[2017-01-30 19:51] #30 closed

[2017-01-30 20:01] JamieMason opened #72 "Add example protractor project"
Similar to the [Jest](https://github.com/JamieMason/Jasmine-Matchers/tree/develop/examples/jest) and [Node.js/Jasmine CLI](https://github.com/JamieMason/Jasmine-Matchers/tree/develop/examples/jasmine-cli) examples, this issue is to create a minimal working example of a [Protractor](http://www.protractortest.org/#/) project which uses `jasmine-expect`.

`npm test` should run the tests.

[code]

The

[2017-01-30 20:03] JamieMason commented on #60
Will pick this up in #72 by adding an example project, thanks.

[2017-01-30 20:03] #60 closed

[2017-01-30 20:10] jacobwarduk commented on #39
No problem, I understand it's not the most reliable thing that can be tested for.

[2017-01-31 13:11] #37 closed

[2017-02-03 08:31] #72 closed

[2017-03-07 00:09] jacobwarduk opened #73 "toBeSafeInteger"
A matcher worthy of inclusion?

[2017-04-25 09:38] JamieMason opened #74 "Generate Jasmine-Matchers-Snippets"
There are two Sublime Text Packages which are currently manually updated;

+ https://github.com/JamieMason/Jasmine-Matchers-Snippets
+ https://github.com/JamieMason/Jasmine-Matchers-ES6-Snippets

Finding some way to generate these projects using the source code from this one would be a time-saver and also be less error-prone. Something like Esprima could be used, or something more crude like a nod

[2017-05-12 17:13] mandysimon88 opened #75 "Jest installation not working"
Followed directions for the Jest installation, but I get:
[code]

[2017-05-12 17:17] JamieMason commented on #75
Hi, please give this working example a try https://github.com/JamieMason/Jasmine-Matchers/tree/master/examples/jest. Hope this helps, thanks.

[2017-05-12 17:20] mandysimon88 commented on #75
Finally realized the problem-- you have to add:
[code]

Could drop that into the README. We already have that option assigned to `jest-enzyme`, so it looks like we'd need to write our own script file to call first jest-enzyme and then jasmine-expect... which makes it kind of not worth it to us.

Would have been helpful to have that in the README because I would have realized that before changing m

[2017-05-12 17:31] JamieMason commented on #75
That's not something I've encountered before so, thank you for sharing! 🎉

[2017-05-12 17:31] #75 closed

[2017-06-19 09:35] e11en opened #76 "Does not exist on type 'Matchers'"
My tests keep failing because it can't find the matchers for some reason, am I missing something in the installation? I've also installed karma-jasmine-matchers but no luck.

I've added the following devDependencies:
`"karma-jasmine-matchers": "^3.7.0"`
`"@types/jasmine": "2.5.45"`
`"@types/jasmine-matchers": "^0.2.30"`
`"jasmine-core": "~2.6.2"`
`"jasmine-expect": "^3.7.0"`
`"jasmine-spec-reporte

[2017-06-19 09:56] JamieMason commented on #76
Hi @e11en,
Sorry to hear you are having trouble, there is an [example jasmine-matchers with karma](https://github.com/JamieMason/Jasmine-Matchers/tree/master/examples/karma) setup available to check out, hopefully that will be of some help.

Thanks,

Jamie

[2017-06-19 09:58] JamieMason commented on #76
One thing I can see is: the items under `plugins` don't need to be `require` calls. Normally each plugin project specifies a string to use. For the Jasmine-Matchers plugin it is `"jasmine-matchers"`.

[2017-06-19 12:57] e11en commented on #76
Hi @JamieMason,
I tried removing the required calls but that didn't change anything, the files of mine and those in the example were almost identical so that couldn't be it.

[2017-06-19 13:05] e11en commented on #76
I tried removing and re-installing all the dependencies and even with the versions of the example, not luck.

[2017-06-19 13:05] JamieMason commented on #76
If your code is the same as the working example, I'm afraid I don't have an answer that can help you. I notice you're using TypeScript though and – although I don't – I know @MiguelAngel82 @aaronbroad @ikasparov do and have commented on other TypeScript related issues – hopefully they can help you.

[2017-06-19 13:48] e11en commented on #76
Ok, thanks for your helps so far and I'll wait for their response.

[2017-06-21 08:45] mvaljento commented on #76
@e11en , any luck so far?

I ran into similar trying to get "jasmine-expect" matchers to work with Protractor and it's driving me nuts. I've added references/require statements to karma.conf.js and  protractor.conf.js, but the problem seems to be that TypeScript compiler does not recognise the custom matchers. When I run the tests with "ng e2e" I get same error:

Property 'toBeArray' does not exis

[2017-06-21 09:36] e11en commented on #76
@mvaljento , nope I haven't figured it out yet.
I'm just waiting for the people that JamieMason tagged.

[2017-07-21 08:57] JamieMason commented on #76
Did you get anywhere with this @e11en?

[2017-07-21 08:58] JamieMason commented on #74
Work in progress at https://github.com/JamieMason/Jasmine-Matchers/commits/housekeeping.

[2017-07-21 09:03] JamieMason commented on #73
Sorry for the delay @jacobwarduk.

I don't know if safe integers are that commonly used? I'm open to persuasion but I don't think it would be worth it.

Note: it also looks like the following may be added to JS;

Thanks all the same, really appreciate your ideas.

[2017-07-21 09:03] #73 closed

[2017-07-24 14:30] JamieMason commented on #76
FAO TypeScript people, there is

1. Some useful looking information from @davguij in https://github.com/JamieMason/karma-jasmine-matchers/pull/14 and https://github.com/JamieMason/karma-jasmine-matchers/issues/13
1. A pull request about TypeScript at https://github.com/JamieMason/Jasmine-Matchers/pull/62
1. A comment from me on the status of TypeScript in this project at https://github.com/JamieMa

[2017-07-24 14:30] JamieMason commented on #76
Closing due to inactivity, please reopen if needed.

[2017-07-24 14:30] #76 closed

[2017-07-24 14:33] JamieMason opened #77 "Add TypeScript documentation to README"
From https://github.com/JamieMason/karma-jasmine-matchers/pull/14

[2017-08-01 15:31] orangecms opened #79 "not working with Jest@20"
With jest@20, steps using the additional matchers raise the following error:
```TypeError: Cannot read property 'buildFailureMessage' of undefined```

I'm not sure about the cause. What I found out so far is that they replace Jasmine with jest-circus in https://github.com/facebook/jest/pull/3668/files.

I think they want to use `extpect.extend` now instead of `addMatchers`: https://facebook.github

[2017-08-01 16:01] JamieMason commented on #79
Which version of Jasmine-Matchers are you using please?

It should be using `expect.extend` if you are using Jest (see [add-matchers/src/create-register.js#L11-L19](https://github.com/JamieMason/add-matchers/blob/master/src/create-register.js#L11-L19)) but it may be that something else has changed in Jest 20.

[2017-08-01 16:03] JamieMason commented on #79
`buildFailureMessage ` is only referenced in [the Jasmine v2 adapter](https://github.com/JamieMason/add-matchers/search?utf8=%E2%9C%93&q=buildFailureMessage&type=) – you don't have Jasmine loaded as well somehow do you?

[2017-08-01 16:46] orangecms commented on #79
This is so embarrassing... I was on the latest v2, so I entirely missed the major version bump to v3. Upgrading fixed the issue. Sorry for bothering you and thank you so much!

[2017-08-01 16:46] #79 closed

[2017-08-01 16:52] JamieMason commented on #79
You're welcome, don't worry about it 👍

[2017-08-01 19:12] JamieMason opened #80 "Update jest info in readme"
Just noticed it is out of date and should match or even just link to https://github.com/JamieMason/Jasmine-Matchers/tree/master/examples/jest

[2017-08-03 13:48] JamieMason opened #81 "toBeArrayOf(asymmetricMatcher)"
Needs some more thought and discussion, but...

[code]

...could be an improvement on

[code]

[2017-08-03 13:53] JamieMason opened #82 "expect(object).toBeObjectOf...();"
Needs some more thought and discussion but, as it is quite common to create indexes of values by a given key, these could be a nice way of describing those indexes in a similar way to how we do with Arrays now.

[code]

[2017-08-03 13:55] JamieMason commented on #74
Done: `npm run generate-snippets`.

The generated snippets still need to be copied over to https://github.com/JamieMason/Jasmine-Matchers-Snippets and https://github.com/JamieMason/Jasmine-Matchers-ES6-Snippets at the moment though.

[2017-08-03 13:55] #74 closed

[2017-08-15 10:39] JamieMason opened #83 "Migrate to a Lerna Monorepo"
Use [Lerna](https://lernajs.io/) and move the following repos

+ https://github.com/JamieMason/add-matchers
+ https://github.com/JamieMason/Jasmine-Matchers-ES6-Snippets
+ https://github.com/JamieMason/Jasmine-Matchers-Snippets
+ https://github.com/JamieMason/karma-jasmine-matchers

to

+ `Jasmine-Matchers/packages/add-matchers`
+ `Jasmine-Matchers/packages/Jasmine-Matchers-ES6-Snippets`
+ `Jasmin

[2017-08-29 08:55] JamieMason opened #84 "Improve message produced by toHaveMethod"
[code]

[2017-09-05 16:07] jacobwarduk commented on #84
What kind of message were you thinking?

[2017-09-07 08:01] JamieMason commented on #84
hey @jacobwarduk, to follow the name of the matcher I think the message should be `expected {} to have method "isLoading"`.

I think this used to work at one time but has since had a regression, we have solid tests for the behaviour of the matchers but not for the messages.

[2017-09-21 08:23] JamieMason opened #85 "Create snippets package for VS Code"
Same as we have https://github.com/JamieMason/Jasmine-Matchers-ES6-Snippets for Sublime Text.

See: [Creating your own Snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets)

[2017-10-04 08:29] lihaibh opened #87 "Property 'toBeWithinRange' does not exist on type 'Matchers<void>'"
Ive installed jasmine-expect library in my nodejs application, im using Jest my ide displays an error:
`Property 'toBeWithinRange' does not exist on type 'Matchers<void>'` and when i run my test suit itself i get an error:
`TypeError: expect(...).toBeWithinRange is not a function`

Ive installed jasmine-expect and types/jasmine-expect.

My test suits are writen in Typescript, the testing framework

[2017-10-04 15:26] JamieMason commented on #87
Hello @lihaibh, thank you for opening this issue. There is an open pull request at https://github.com/JamieMason/Jasmine-Matchers/pull/62#issuecomment-316945368 which explains the current status of TypeScript support, unfortunately at the moment it needs improvement.

[2017-10-10 11:22] JamieMason opened #89 "Update Browserstack browsers list"
[Builds are failing](https://travis-ci.org/JamieMason/Jasmine-Matchers) because the browsers available on browserstack have changed.

The latest list can be found at

[code]

and [this script](https://github.com/JamieMason/Jasmine-Matchers/blob/master/karma/browserstack.update.js) can be used to update the Karma config (although it's a while since I've used it, I'm pretty sure it all works).

[2017-10-11 13:32] JamieMason opened #90 "Asymmetric Matchers not working in Jest"
The `any` global is undefined, also the asymmetric matchers are lacking tests 👎

[2017-12-12 00:37] shaungrady opened #91 "TypeScript error: All declarations of 'Matchers' must have identical type parameters."
I'm seeing this problem with the following versions:
[code]

[code]

From `@types/jasmine`:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jasmine/index.d.ts#L404

I edited this package (`jasmine-matchers`) locally to match `@types/jasmine`, and the errors go away. Just modify [`jasmine-matchers.d.ts:2`](https://github.com/JamieMason/Jasmine-Matchers/blob/master/jasmine-match

[2018-01-12 12:18] zalow517 opened #95 "Where are the <something>OrNull expectations?"
I remember this project used to host a bunch of matchers that were in the form of checking a type and also allowing for a null value. Were these removed, if so what is an alternate solution for such expectation?

[2018-01-12 13:12] #95 closed

[2018-01-12 13:46] JamieMason commented on #95
Out of interest, what was this? I see you closed the issue so you maybe found what you were looking for?

[2018-01-16 23:41] JoshuaKGoldberg commented on #87
@lihaibh is this issue resolved? #62 was merged & released :)

[2018-01-23 07:19] pbalan opened #97 "Question: How to use jasmine-matchers with gulp-jasmine?"
How can I integrate jasmine-matchers with gulp-jasmine?

My current gulp configuration:

[code]

[2018-01-23 09:54] JamieMason commented on #97
Reading the gulp-jasmine readme (https://github.com/sindresorhus/gulp-jasmine#config) it mentions that it passes config to Jasmine's `loadConfig` method. Reading the example in the Jasmine docs (https://jasmine.github.io/2.8/node.html#section-Load_configuration_from_a_file_or_from_an_object) it features a `helpers` property.

In our Node.js example (https://github.com/JamieMason/Jasmine-Matchers#n

[2018-01-29 12:25] #97 closed

[2018-01-29 12:27] JamieMason commented on #91
This should hopefully be address in [3.8.3](https://github.com/JamieMason/Jasmine-Matchers/blob/master/CHANGELOG.md#383-2018-01-29).
Please give that a try and let us know via a comment or by closing the issue, thanks.

[2018-01-29 12:27] #89 closed

[2018-01-29 12:28] JamieMason commented on #85
The Intellisense from typings seems to be enough.

See: https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest

[2018-01-29 12:28] #85 closed

[2018-01-29 12:29] JamieMason commented on #87
This should hopefully be address in [3.8.3](https://github.com/JamieMason/Jasmine-Matchers/blob/master/CHANGELOG.md#383-2018-01-29).
Please give that a try and let us know via a comment or by closing the issue, thanks.

[2018-01-29 12:30] JamieMason commented on #66
Closing as this is working in https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest which is a new version of Jasmine-Matchers.

[2018-01-29 12:30] #66 closed

[2018-01-29 12:31] JamieMason commented on #77
Closing as TypeScript is best supported by https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest which is a newer version of this repo.

[2018-01-29 12:31] #77 closed

[2018-01-29 12:32] JamieMason commented on #83
Closing as this was done in https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest which is a newer version of this repo.

[2018-01-29 12:32] #83 closed

[2018-03-12 18:44] sorin-postelnicu opened #99 "How to access Jasmine when it is an AMD module instead of a global?"
Dear all,

In our project we are using jasmine with requirejs, and now we are trying to add Jasmine-Matchers (v3.8.3), but we get the following error:

at createRegister ( add-matchers.js:63 )

The configuration of Jasmine by using RequireJS is done like this: https://gist.github.com/sorin-postelnicu/02ca666b8ac17adc5e614db5dc9730c5

But when we run this simple example from the gist, we get the er

[2018-03-24 09:40] lihaibh commented on #87
@JoshuaKGoldberg @JamieMason it still doesnt work, on version: 3.8.3.
Do you have any working sample / existing project that is written in Typesciprt and uses Jest with Jasmine-Matchers?

Also when i add the line at the top of my spec file:
[code]
I receive the error:
[code]
so i removed it, but it still doesnt work..

[2018-04-30 17:42] JamieMason commented on #99
Hi @sorin-postelnicu,
I honestly don't know unfortunately, Jasmine is most often run in global scope and this is what this library expects. There may be a way but this is not a situation I have faced yet, sorry I have not been able to be more helpful here.

[2018-04-30 21:15] #91 closed

[2018-05-01 18:53] glitchbane commented on #87
I can confirm that adding the line

does work in Angular 5 with TypeScript.

[2018-05-01 19:05] JamieMason commented on #87
Thanks all, in the meantime I am working on a working example at https://github.com/JamieMason/Jasmine-Matchers/tree/dev/examples/jasmine-typescript. I'm not ready to merge it yet but it works. Thanks.

[2018-05-09 13:06] fluffynuts opened #100 "Usage from Jest in Typescript"
The documentation mentions adding the following to spec files to get the added matchers:
[code]

However this does not work as expected with my combination of packages (should be current latest at time of writing):
- typescript: 2.8.3
- jest: 22.4.3
- jasmine-expect: 3.8.3

The snippet above gives the error: ".../node_modules/jasmine-expect/jasmine-matchers.d.ts is not a module". If I copy the .d.

[2018-05-09 13:56] JamieMason commented on #100
There is a discussion somewhere I'm struggling to find but please try `import 'jasmine-expect';` in the meantime. See also https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest which is a TypeScript rewrite of Jasmine-Matchers.

[2018-05-09 17:14] fluffynuts commented on #100
I do use `import "jasmine-expect"`, but I also need to have the modified `.d.ts` file in my ts project otherwise I get grumbles whenever I attempt to use any of the added matchers.

I'll check out `expect-more-jest` in the morning -- thanks for the heads-up!

[2018-05-09 17:48] JamieMason commented on #100
Great, I forgot I have this example too in development so have a look there too https://github.com/JamieMason/Jasmine-Matchers/tree/dev/examples/jasmine-typescript

[2018-05-10 13:30] fluffynuts commented on #100
btw, `expect-more-jest` is working out fine for me -- though I'm not really stressing it yet; but a simple `npm install --save-dev expect-more-jest` and minor fixup in my spec files and I can remove my hacked `jest-matchers.d.ts`, so thanks (: 👍 👍

[2018-05-10 13:33] JamieMason commented on #100
perfect 👍

[2018-08-13 14:03] manthey opened #101 "toBeCloseToArray and toBeCloseToObject matches"
I have tests where I want to ensure an array is (a) an array of numbers, (b) the same length as an expected array, and (c) each pair of actual and expected array entries pass a `toBeCloseTo` test.  I would call this test `toBeCloseToArray`.

Similarly, I want to do the same thing with an object (`toBeCloseToObject`): the actual object (a) has exactly the same own properties as the expected object,

[2018-10-08 08:52] jelling commented on #100
Please update the homepage to include the example code provided by LarsImNetz, specifcally using `import "jasmine-expect";`. Also it is no longer necessary to get the @types since they're included.

[2018-10-22 11:59] #100 closed

[2019-01-10 09:16] britvik opened #103 "Optional messages broken in 4.0.0"
After updating version from `3.8.4` to `4.0.0` some of my tests started failing with ridiculous messages like "**Expected true to be true**" or "**Expected false to be false**".

I noticed this happened for `toBeTrue` and `toBeFalse` matchers where I used `expectationFailOutput` message. E.g. `expect(someVar).toBeFalse('Some output message')`

After a bit of debugging I noticed that expectationFai

[2019-01-10 09:42] JamieMason commented on #103
Thanks @britvik I will take a look.

[2019-01-12 18:02] #103 closed

[2019-01-12 18:10] JamieMason commented on #103
Please try with [4.0.1](https://github.com/JamieMason/Jasmine-Matchers/blob/4.0.1/CHANGELOG.md#401-2019-01-12) and reopen this issue if the problem persists, thanks.

[2019-01-15 09:53] britvik commented on #103
It works in 4.0.1. Thank you @JamieMason

[2019-01-15 09:53] JamieMason commented on #103
Great! you're welcome.

[2019-01-19 13:34] komyg opened #104 "Jasmine Matchers not working on Angular 7 and Karma"
Hi,

I am trying to make the Jasmine Matchers to work with Angular 7 and Karma, but I am getting this error: `Uncaught TypeError: expect(...).toBeTrue is not a function` on my spec: `expect(result.loginSuccess).toBeTrue();`.

I followed the configuration steps on the readme:

- Installed the packages: `jasmine-expect`, `karma-jasmine-matchers` and `@types/jasmine-expect`.
- Added the jasmine match

[2019-01-21 10:57] komyg commented on #104
Hi Jamie,

I updated my packages (I had an older version o `karma-jasmine-matchers`, but I still get the same error: `Uncaught TypeError: expect(...).toBeTrue is not a function thrown`

Here are my packages:
[code]

Thanks,
Felipe

[2019-01-21 12:01] komyg commented on #104
Hi Jamie,

I think I got it. I added an import to `jasmine-matcher` in my `tests.ts` file and the matchers were recognized.

Here is my full file:

[code]

Thanks for the help,
Felipe

[2019-01-21 13:53] komyg commented on #104
I get both errors. My IDE (Visual Studio Code) complains that the `.toBetrue()` is not a function and at runtime I get the same error.

[2019-01-21 14:40] JamieMason commented on #104
`.toBetrue()` is a typo, is it also that in your code? (should be `.toBeTrue()`)

[2019-01-21 14:42] komyg commented on #104
No, I think I made the typo just in the message. This is the error message I got from Karma:

[code]

[2019-01-21 14:47] JamieMason commented on #104
https://github.com/JamieMason/Jasmine-Matchers/blob/80d6e73763b2d8b9afb7d9ded9b0d020c0595a0b/examples/karma/karma.conf.js uses plain strings under `plugins` but you are using `require` calls, that is a difference I can tell with the working example at https://github.com/JamieMason/Jasmine-Matchers/issues/104#issuecomment-456004311 and your own that might be worth exploring – I would have a look at

[2019-01-22 10:40] komyg commented on #104
Hi Jamie,

I saw your file and tried to emulate it as best as I can (I removed the `require` statements and changed the order in which the plugins were declared, for example). However now I am experiencing a very strange behavior: sometimes my tests work and sometimes they fail with the `.toBeTrue() is not a function` error.

Just now I ran Karma the first time and everything worked, then I ran a

[2019-01-30 20:04] sergiojoker11 opened #105 "Jasmine-Matchers on protractor project."
I have seen [here](https://github.com/JamieMason/Jasmine-Matchers/commit/75476147334e507b860b364c005b466be95b5894) that it is possible to add these matchers to a protractor project. However, no reference in the Readme file has been made. Does this mean that it is no longer 'compatible'?
EDIT: BTW, I have tried what the link indicates and it doesn't work
`error TS2688: Cannot find type definition f

[2019-01-31 10:23] JamieMason commented on #105
Hi @sergiojoker11,
Jasmine-Matchers is still compatible with Protractor, I wonder if there is some problem with your configuration/project.

These steps should show a working example to compare against, hope this helps.

[code]

Open a new Terminal session

[code]

The output should be

[code]

[2019-05-08 13:27] freewind opened #106 "Use `jasmine-expect` in `beforeAll` without `describe` will throw exception"
Test code:

[code]
will throw:

[code]

A complete minimal demo: https://github.com/freewind-demos/typescript--jasmine-expect--before-all-issue-demo

[2019-05-15 23:10] jecraig commented on #104
I had to add require at the top of my spec class to get this working.

`import 'jasmine-expect';  // <----- import here
import { SessionLogger } from './session-logger';

describe('SessionLogger', () => {
	it('should have initial value', () => {
		expect(SessionLogger.fetch()).toBeEmptyArray();
	});
});
`

[2019-05-21 12:18] JamieMason commented on #104
Thanks all, I don't know what more to add than in my comment at https://github.com/JamieMason/Jasmine-Matchers/issues/104#issuecomment-456098236 that there is a working example available and that looking for differences between that and your own will serve as a guide towards getting your configuration working – sorry I can't add any more.

[2019-05-21 12:18] #104 closed

[2019-09-04 13:52] blockscoped opened #121 "toContainSubstring"
## Matcher to check if a String or Array of Strings contains a given substring

The following matcher would be most useful in my tests:

[code]

[2019-09-04 13:55] blockscoped commented on #121
This could be one matcher or two separate matchers for the different input types.
[code]
Although that's a bit of a mouthful.

[2019-09-04 14:04] blockscoped commented on #121
A companion matcher accepting a RegEx would also be very useful
[code]

[2019-09-08 15:58] ghost opened #122 "Documentation on String Matchers is out of date"
The docs list the following matchers:
[code]

Which is wrong, as they take an argument: `otherString`.

[2019-09-25 14:35] GCHQDeveloper911 opened #123 "Add support for withContext?"
## Add support for Jasmine's 'withContext' function to allow custom messages with expectations

As of (I believe) jasmine 3, it is possible to do something like:
`expect(1).withContext('well that is never going to pass!').toEqual(2);`
to give more detailed output from the assertions.

I don't think jasmine-matchers currently supports withContext? This would be massively beneficial, as it would all

[2019-11-28 15:29] tomyam1 opened #124 "Typescript mismatch with toBeTrue/toBeFalse as of @types/jasmine 3.5.0"
## Description

When using recent jasmine-expect 4.0.3 with @types/jasmine 3.5.0 we get the following errors:

[code]

## Suggested Solution

This seems to be due this commit https://github.com/DefinitelyTyped/DefinitelyTyped/commit/c0e76f846ea10b34f3a22a49d33cfa879ea8c0ba

Using @types/jasmine 3.4.6 for now

## Help Needed

Not sure who got it right: jasmine-expect or @types/jasmine

[2019-12-10 11:37] komyg commented on #124
Hi,

I ran into the same problem with Jasmine in an Angular project. I managed to solve it by removing the `jasmine-expect` entry that I had in my `tsconfig.spec.json` file:

[code]

[2020-02-03 14:04] Necroskillz commented on #124
jasmine 3.5 now has it's own `toBeTrue` and `toBeFalse` matchers, so they could just be removed from this library.

[2020-02-10 19:41] RobARichardson commented on #124
Had to revert back to Jasmine Core 3.4.0 to get around this issue for now.

[2020-03-18 17:04] devoto13 commented on #123
@GCHQDeveloper911 Why do you think that `withContext()` is not supported? The message specified in `.withContext()` is printed when using `jasmine-expect` matchers for me.

Test code:

[code]

Output:

[code]

[2020-03-18 17:19] devoto13 commented on #124
@JamieMason Would you be willing to accept a PR to remove `expectationFailOutput?: any` parameter from `.toBeTrue()` and `.toBeFalse()` matchers to prevent conflict with built-in matchers with the same name available as of [Jasmine 3.5.0](https://github.com/jasmine/jasmine/blob/master/release_notes/3.5.0.md)? This will require a major release as it is a breaking change.

Not suggesting complete re

[2020-03-27 10:08] dave-dm opened #127 "How can I use it with node and "expect" module (outside of jest/jasmine)?"
I'm trying to do this
[code]

[2020-04-29 07:55] manuman94 opened #129 "Types not found"
## Description
I tried to integrate jasmine-expect in my jasmine test framework built in Typescript and I got "types not found" problems. It's not working when I launch the tests but VSCode is complaining too throwing me errors like:
`Property 'toBeArray' does not exist on type 'ArrayLikeMatchers<number>'. `
I figured out that the problem is that is not finding the type definitions. I downloaded @

[2020-04-30 09:35] JamieMason commented on #129
Thanks @manuman94, I do plan to eventually rewrite Jasmine-Matchers in TypeScript but it will take time. In the meantime I wrote [a newer version in TypeScript for Jest](https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/#expect-more-jest) – but that is for [Jest](https://jestjs.io/), not Jasmine. A Jasmine version will come in time, I'm planning to create it at [expec

[2020-04-30 09:39] manuman94 commented on #129
Thanks @JamieMason, I've been testing with this matchers and other custom matchers created by me with your library add-matchers and it is awesome. An organized way of creating new matchers.

In the meantime I placed a script in my package.json that copies all ".d.ts" files on @types.

Thank you for this awesome library.

[2020-04-30 10:08] JamieMason commented on #129
Thanks a lot @manuman94, you're welcome – it's really great to hear of it being used.

[2020-07-31 08:39] ShaneYu commented on #124
Is there any progress on this @JamieMason? The read me details that this library supports **all** versions of jest and Jasmine; but currently doesn't work with the last few releases of Jasmine.

[2020-08-31 09:27] hoeni commented on #124
Did anyone here find a better workaround than pinning down Jasmine and its types to 3.4 until this gets fixed for good?

[2020-09-19 18:33] JamieMason commented on #106
Jasmine and Jest both require that `expect` calls are only within `it` or `test` blocks 👍

[2020-09-19 18:33] #106 closed

[2020-09-19 18:34] #105 closed

[2020-09-19 18:38] JamieMason commented on #101
Thanks a lot for the idea but I don't think many Developers would encounter this scenario. If there is more demand though I'm happy to reconsider.

[2020-09-19 18:38] #101 closed

[2020-09-19 18:40] JamieMason commented on #90
Closing as https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/#expect-more-jest provides this.

[2020-09-19 18:40] #90 closed

[2020-09-19 18:41] JamieMason commented on #81
Closing, this was added to https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/#expect-more-jest

[2020-09-19 18:41] #81 closed

[2020-09-19 18:41] JamieMason commented on #80
Closing, created https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/#expect-more-jest

[2020-09-19 18:41] #80 closed

[2020-09-19 18:41] #84 closed

[2020-09-19 18:42] #99 closed

[2020-09-19 18:44] JamieMason commented on #87
I _think_ this can be closed 🤞 The Jasmine with TypeScript example is working: https://github.com/JamieMason/Jasmine-Matchers/blob/763356b8e4c2289a203c49d1ea75b25dbaf6a6cd/examples/jasmine-typescript/src/types.spec.ts#L40

[2020-09-19 18:44] #87 closed

[2020-09-19 18:56] JamieMason commented on #123
I think @devoto13 has answered this, thanks very much.

[2020-09-19 18:56] #123 closed

[2020-09-19 19:17] JamieMason commented on #121
Hi @blockscoped, I think  Jasmine's [`toMatch`](https://jasmine.github.io/api/3.6/matchers.html#toMatch) should help a lot with this:

[code]

and [`toContain`](https://jasmine.github.io/api/3.6/matchers.html#toContain):

[code]

In Jest I know you can do this, but Jasmine I'm not sure

[code]

I hope this helps, thanks

[2020-09-19 19:17] #121 closed

[2020-09-19 20:16] #122 closed

[2020-09-19 20:16] #124 closed

[2020-09-19 20:17] JamieMason commented on #127
I've not attempted this before @dave-dm, I would be interested though if you manage to find any documentation on this.

[2020-09-19 20:20] JamieMason commented on #129
Do you have an example repo somewhere I can look at @manuman94 to try and help? Also, have you seen the TypeScript example at https://github.com/JamieMason/Jasmine-Matchers/tree/03bc19b4170dad265684f112f3a90f5d97fd6998/examples to compare against?

[2021-01-26 18:35] brenthosie opened #138 "Synchronize the release on github with the release on npm"
## Description

The latest release in the repo is not tagged as `5.0.0` and is missing changelog notes.